anyio
asgiref
blinker
certifi
charset-normalizer
click
colorama
deprecation
diffusers
Django
filelock
Flask
Flask-SQLAlchemy
fsspec
ftfy
greenlet
h11
httpcore
httpx
huggingface-hub
idna
importlib-metadata
itsdangerous
Jinja2
lxml
MarkupSafe
mpmath
networkx
numpy
packaging
pikepdf
Pillow
python-dotenv
python-telegram-bot
PyYAML
regex
requests
scipy
sniffio
SQLAlchemy
sqlparse
sympy
tokenizers
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
zipp
